$brand-1: #fef7f1;
$brand-3: #fbfbfb;
$brand-4: #feca7e;
// $main-aime: #06283D;
$main: #30445c;
$grey: #F5F5F6;
// $brand-2: #ef3c25;
$main-white: #DFF6FF;

// #-----NEW colors
$new-main: #E2E2E2;
$brand-2: #ef3c24;
$brand-02: #d47063;

$color1: #5984dc;
$color2: #848484;
$color3: #eff3ff;

$font-normal: 'Montserrat', sans-serif;