// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@font-face {
	font-family: "Poppins";
	src: url(../public/fonts/Poppins/Poppins-Regular.ttf),
		url(../public/fonts/Poppins/Poppins-Black.ttf),
		url(../public/fonts/Poppins/Poppins-BlackItalic.ttf),
		url(../public/fonts/Poppins/Poppins-Bold.ttf),
		url(../public/fonts/Poppins/Poppins-BoldItalic.ttf),
		url(../public/fonts/Poppins/Poppins-ExtraBold.ttf),
		url(../public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf),
		url(../public/fonts/Poppins/Poppins-ExtraLight.ttf),
		url(../public/fonts/Poppins/Poppins-ExtraLightItalic.ttf),
		url(../public/fonts/Poppins/Poppins-Italic.ttf),
		url(../public/fonts/Poppins/Poppins-Light.ttf),
		url(../public/fonts/Poppins/Poppins-LightItalic.ttf),
		url(../public/fonts/Poppins/Poppins-Medium.ttf),
		url(../public/fonts/Poppins/Poppins-MediumItalic.ttf),
		url(../public/fonts/Poppins/Poppins-SemiBold.ttf),
		url(../public/fonts/Poppins/Poppins-SemiBoldItalic.ttf),
		url(../public/fonts/Poppins/Poppins-Thin.ttf),
		url(../public/fonts/Poppins/Poppins-ThinItalic.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
	font-family: "Poppins", Helvetica, sans-serif, Arial;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.ant-select-selector {
	display: flex !important;
	align-items: center !important;
	border-radius: 4px !important;
	border: none !important;
	background-color: transparent !important;
	font-size: 12px !important;
	color: #757575 !important;
}

.ant-table {
	background-color: transparent !important;
}

.ant-table-thead > tr > th {
	background-color: #f8f8f8 !important;
	border-bottom: none !important;
	color: #757575 !important;
}

.ant-table-thead > tr > th::before {
	display: none !important;
}

.ant-table-tbody > tr > td {
	border: none !important;
	background-color: white !important;
}

.ant-table-tbody > tr.shadow {
	-webkit-box-shadow: 0px 7px 2px -5px rgba(235, 235, 235, 1);
	-moz-box-shadow: 0px 7px 2px -5px rgba(235, 235, 235, 1);
	box-shadow: 0px 7px 2px -5px rgba(235, 235, 235, 1);
}

.ant-table table {
	border-spacing: 0 12px !important;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid red;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.ant-notification-notice-message {
	font-weight: 700;
}

.text_404 {
	background: #eddfdf;
	background: linear-gradient(to top, #eddfdf 32%, #bf5858 55%, #000000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #eb6024;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #313622, 0 0 5px #313622;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.ant-switch-inner {
	color: #757575 !important;
}

.ant-switch {
	background-color: rgb(214, 214, 214) !important;
}

.ant-switch-checked {
	background-color: #00b0af !important;
}

.ant-switch-checked .ant-switch-inner {
	color: white !important;
}

.ant-modal-header {
	border-bottom: none !important;
}

.ant-modal-footer {
	border-top: none !important;
}
