@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@import './variables';
@import './mixinis';

.login {
    background-image: url("../resources/images/education.jpg");
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .3) !important;
        z-index: 10;
    }

    &__cardTopContent {
        text-align: center;
    }

    &__card {
        background: white;
        z-index: 20;
        padding: 20px 40px;
        width: 35%;
        color: $main;
        box-sizing: border-box;

        .inputField,
        .dropdown-btn {
            background: ghostwhite;
        }

        .getStartedPage__textField {
            margin-bottom: 20px;
        }

        .getStartedPage__formBtn {
            margin-top: 0;
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }
    }

    &__logoContainer {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        margin-top: 20px;

        // margin-bottom: 40px;
        span {
            font-weight: bold;
        }
    }

    &__accountsTab {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__tab {
        cursor: pointer;
    }

    .activeTab {
        border-bottom: 3px solid $brand-2;
    }

    &__schoolLogin {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}